body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(100, 67, 161);
    color: white;
}

header{
    text-align: center;
}

section{
    background-color: white;
    color: black;
    width: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.445);
    padding: 10px;
    margin: auto;
    font-size: 16px;
}

#notas{
    width: 100%;
}


